p

    form(class="search-bar" method='get', action="/books/search")
            input(name='term', type='text', placeholder='Find your next great read')
            input(type="submit" value="Search")
            
    if term
        a.button(href='/books') Back to Book Listing
    else 
        a.create-new-button(href='/books/new') Create New Book

    
