@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');


html, body{
  margin-top: 0px;
  display: contents;
}

body {
  padding: 10px 50px 50px;
  /* font: 18px "Garamond", serif; */
  font: 20px 'Spartan', sans-serif;
}

a {
  color: #005b96;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit] {
  color: white;
  background: #005b96;
  font-family: 'Spartan', sans-serif;
  padding: 10px 14px 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid white;
}

form a.button, input[type=submit] {
  transition: 0.4s;
}

input[type=submit] {
  border: none;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 500px;
  border:none;
}

.error {
  color: rgb(236, 15, 15);
}

/* my styles */

/* Pagination Link */

.pagination-links {
  display: flex;
  margin-top: 2em;
  justify-content: center;
}

.pagination-links a {
  display: block;
  padding: 1em;
  /* color: #fff; */
}

/* .pagination-links > * {
  border-radius: 4px;
  background-color: #81429e;
} */

.pagination-links > * + * {
  margin-left: 0.7em;
}

li {
  width: 50px;
  height: 50px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  border: 1px #005b96 solid;
}


/* Title */

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: white;
}

form {
  border: white 1px solid;
  display: flex;
  height: 40px;
  background-color: white;
}

.create-new-button{
  color: white;
  background: #005b96;
  padding: 10px 14px 10px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 25px;
  border: 1px solid white;
}

.background {
  background: url(/images/bookshelf.jpeg) no-repeat center center fixed;
  padding-top: 50px;
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 50px; 
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
}

.maintable{
    display: flex;
    flex-direction: column;
}